// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  width: 100%;
  height: 100vh;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
      .intro-text {
      padding-top: 100px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}

.panel {
  position: absolute;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  z-index: 100;
  top:28%;
}

@media(min-width:768px) {
  .panel {
    position: absolute;
    z-index: 10;
    margin: 0 auto;
    z-index: 100;
    top:25%;
    text-align: center;
  }
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, rgb(82, 131, 238), rgb(38, 107, 139), #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;  
}

@media(min-width:768px) {
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, rgb(82, 131, 238), rgb(38, 107, 139), #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;  
}

//
/* ---- particles.js container ---- */
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}